.custom-bg-color {
    background-color: orange;
}

*body, html {
    height: 100%;
  }
  
  .bg {
    background-image: url("/images/tested2.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
   
  /*body {
    margin: 0;
    padding: 0;
    background-image: url('path_to_your_image.jpg');
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif; /* Change font family as needed
  }
  
 /* .container {
    text-align: center;
    padding: 50px;
    color: white; /* Text color on top of the background 
  }